/*Color variables*/
:root{
    --color-beige: #ece4cf;
    --color-third: #739072;
    --color-theme: white;
    --color-font: black;
    --color-secondary: #4f6f52;
    --color-primary: #3a4d39;
    --color-boxshadow: rgba(0, 0, 0, 0.15);
    --color-delay: #820300;
    --color-warning: #B67352;
    --color-info: grey;    


}

@media (prefers-color-scheme: dark) {
    :root{
    --color-theme: rgb(33, 33, 36);
    --color-font: rgb(220,220,220);
    --color-secondary: #739072;
    --color-primary: var(--color-font);
    --color-boxshadow: rgba(200, 200, 200, 0.08);
    --color-delay: #a85150;

    --color-warning: #f3986a !important;
    --color-info: #dadada !important;
    }

    body{
        color: var(--color-font);
    }

    a{
        text-decoration: none;
        color: var(--color-secondary);
    }
}





body{
    overflow-x: hidden;
    -webkit-user-select: none;
    user-select: none;
    font-family: "Open Sans", sans-serif;
    font-size: 0.8rem;
    height:100%;
}




.loader {
    border: 0.5em solid #9cbfba; /* Light grey */
    border-top: 0.5em solid var(--color-primary);
    border-radius: 50%;
    width: 2em;
    height: 2em;
    animation: spin 1.5s cubic-bezier(.46,.18,.17,.74) infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    translate: -50% -50%;
}



@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
} 

.no {
    display: none !important;
}

button:not(.zamudas button) {
    height: 2em; 
}


/*Containers*/
.site_container{
    min-height: 100vh;
    left:0;
    right:0;
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0 0 20px 0 var(--color-boxshadow);
    position: absolute;
    top:calc(100dvh - 120px);
    background-color: var(--color-theme);
    padding-bottom: 80px;
    z-index: 0;
}

.tool_container{
    height: 85px;
    position: fixed;
    left:0;
    right:0;
    bottom: 0%;
    border-radius: 1.5rem 1.5rem 0 0;
    background-color: var(--color-theme);
    opacity: 1;
    box-shadow: 0 0 20px 0 var(--color-boxshadow);
    display: block;
    z-index: 1;
}


.delay_container{
    min-height: 100vh;
    left:0;
    right:0;
    border-radius: 1.5rem 1.5rem 0 0;
    box-shadow: 0 0 20px 0 var(--color-boxshadow);
    position: fixed;
    top: 0;
    background-color: var(--color-theme);
    margin-bottom: 80px;
    z-index: 0;
}

.non_existent_container{
    position: fixed;
    width: 80vw;
    height: fit-content;
    top:25%;
    left: 10vw;
    transform: translate(0, -50%);
    color:white;
    background-color: #820300;
    opacity: 0;
    border-radius: 1.5rem;
    box-shadow: 0 0 20px 0 var(--color-boxshadow);
    z-index: 1;

}

.info-container{
    position: fixed;
    width: 60px;
    height: 120px;
    top:0;
    right:0;
    background-color: var(--color-theme);
    border-radius: 0 0 0 1.5rem;

}

.info-panel{
    position: fixed;
    width: 90vw;
    max-width: 400px;
    height: 450px;
    top:40%;
    left: 5vw;
    transform: translate(0, -50%);
    background-color: var(--color-theme);
    border-radius: 1.5rem;
    box-shadow: 0 0 20px 0 var(--color-boxshadow);
    z-index: 1;
}

.tool_item{
    font-size: 0.8em;
    position: absolute;
    transform:translateX(-50%);
    bottom: 10px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: var(--color-primary);

}



.pritozba {
    background-color: var(--color);
    color:black;
    box-shadow: 0 0 8px 0 var(--color-boxshadow);
    border-color: white;
    border-radius: 1rem;
    width:fit-content;
    padding: 0.5rem 1rem;
    margin-left: 5px;
    margin-right: 5px;
    display:inline-block;
    font-size: 0.5rem;
    position: absolute;
    display: none;
}


/*BEGIN Float button elements */
.float{
    position:fixed;
    width:50px;
    height:50px;
    border-radius: 100%;
    background-color: var(--color-theme);
    box-shadow: 0 0 20px 0 var(--color-boxshadow);
    padding: 0 0 0 0;
    opacity: 1;
    transition: opacity 0.5s;
}

.refresh{
    bottom: 210px;
    right:20px;    
}

.locate{
    bottom:150px;
    right: 20px;
}
.float_icon{
    color: var(--color-primary);
    font-size: 30px;
    position: relative;
    top:10px;

}

.locate_float:active{
    opacity: 0.5;
}

.refresh_animate{
    animation: sync_spin 1s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;

}



/*BEGIN Map elements*/
.map{
    height: calc(100dvh - 80px);
    border-radius: 0 0 10px 10px;
    margin-top: 0;
    left: 0;
    width: 100vw;
    position:fixed;
    top:0;
    z-index: 0;


}

.leaflet-touch .leaflet-control-attribution{
    display:none;
}

#map_attributions{
    position: absolute;
    color:grey;
    bottom: 40px;
    right: 5px;
    z-index: 1000;
    padding: 0.5rem;
    opacity: 0.5;
    transition: opacity 0.5s;

}
#map_attributions a{
    color:grey;
    text-decoration: none;
}

#map_attributions:hover{
    opacity: 1;
}
#map_attributions:active{
    opacity: 1;
}

img[alt*="MapTiler logo"] {
    margin-bottom:40px;
    opacity: 0.8;
 }

 /*END Map elements*/


footer {
    font-size: small;
    color: gray; 
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
}

.line{
    height: 0.3rem;
    border-radius: 5rem;
    width: 30vw;
    background-color: var(--color-primary);
    position: relative;
    top: 5px
}




/*Icons*/

.tool_icon{
    font-size: 2.5em;
    color: var(--color-primary);
    padding-top: 5px;
    padding: 0.5rem;
    position: absolute; 
    transform:translateX(-50%);
}

.tool_icon:active{
    color: var(--color-secondary);
    background-color: var(--color-boxshadow);
    border-radius: 50%;
    padding: 0.5rem;
    opacity: 0.9;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
}

/*Buttons*/
.btn_general{
    background-color: var(--color-secondary);
    color:white;
    box-shadow: 0 8px 8px 0 var(--color-boxshadow);
    border-color: white;
    border-radius: 1rem;
    width:fit-content;

    padding: 0.5rem 1rem;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.btn_delay_more{
    background-color: white;
    color:black;
    box-shadow: 0 8px 8px 0 var(--color-boxshadow);
    border-color: white;
    border-radius: 1rem;
    width:fit-content;

    margin-top: 15px !important;
    padding: 0.5rem 1rem;

    font-family: 'Open Sans', sans-serif;
    font-size: 0.8rem;
}

.btn_delay_more:active{
    filter:brightness(0.9);
}

.btn_busstop{
    background-color: white;
    color:black;
    box-shadow: 0 8px 8px 0 var(--color-boxshadow);
    border-color: white;
    border-radius: 1rem;
    width:fit-content;
    padding: 0.5rem 1rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-block-end: 5px;
    margin-block-start: 5px;
    display:inline-block;
    font-size: 0.8rem;
}

.btn_busstop:active{
    background-color: var(--color-beige);
}

.btn_busline{
    background-color: var(--color-third);
    color:white;
    box-shadow: 0 8px 8px 0 var(--color-boxshadow);
    border-color: white;
    border-radius: 1rem;
    width:fit-content;
    padding: 0.5rem 1rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-block-end: 5px;
    margin-block-start: 5px;
    display:inline-block;
    font-size: 0.8rem;
}

.btn_busline:active{
    background-color: var(--color-secondary);
}

/*BEGIN Menu elements*/
#menu{
    scroll-margin:20dvh;
}
/* END Menu elements*/

/*BEGIN Delay elements*/
.zamuda_entry{
    position: relative;
    left: 35%;
    height:1.5rem;
}
.zamuda_entry.first{
    margin-top: 15px;
    height:2rem;
}

.postaja{
    position: relative;
    left: 10px;
    font-size: 0.8rem;
    color: var(--color-font);

}

.zamuda{
    position: absolute;
    left: -65px;
    width:50px;
    text-align: right;;
    font-size: 0.8rem;
}

.dot {
    position: relative;
    height: 0.6rem;
    width: 0.6rem;
    background-color: var(--color-theme);
    border: 0.2rem solid var(--color-secondary);
    border-radius: 100%;
    display: inline-block;
  }

.big{
    transform: translate(-0.2rem);
    height: 1rem;
    width: 1rem;
}

.red{
    color: var(--color-delay) !important;
    border-color: var(--color-delay) !important;
}

.green{
    color: var(--color-secondary) !important;
    border-color: var(--color-secondary) !important;
}

#delay_content{
    padding-top: 15px;
    padding-bottom: 20px;
}

#delay_container{
    scroll-margin-bottom: 100px;
}

.zamuda_line{
    position: absolute;
    margin-left: 0.5rem;
    transform: translate(-50%);
    z-index: 0;
    border-left: 4px solid var(--color-secondary);
    display: inline-block;
    filter: opacity(0.75);
    height: 1.5rem;
}

/*END Delay elements*/

/*BEGIN Popup elements*/

.leaflet-popup-content-wrapper{
    width: fit-content;
    max-width: 90vw;
    background-color: var(--color-theme);
}

.leaflet-popup-tip {
    background-color: var(--color-theme);
}

.leaflet-popup{
    opacity: 0.85 !important;
}

.leaflet-popup-close-button{
    display: none;
}

.popup-relacija{
    padding-left: 10px;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    color: var(--color-primary) !important;
    text-decoration: none;
}

.bus_info{
    height: 1.2rem;
    margin-top:-0.2rem ;
}


.popup_route {
    color:var(--color-primary) !important;
    text-decoration: none !important;
    display:block;
    width: 90vw !important;
    font-size: 1rem;
}

.popup_id{
    text-emphasis: italic !important;
    color: var(--color-font);
}

.popup_zamuda_button{
    background-color: var(--color-third) !important;
    color:white;
    box-shadow: 0 0px 8px 0 var(--color-boxshadow);
    border-color: white;
    border-radius: 1rem;
    width:fit-content;
    padding: 0.5rem 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
    display:inline-block;
    font-size: 0.8rem;
    z-index: 10;
}
/*END Popup elements*/

/*BEGIN Schedule elements*/
table {
    border-collapse: separate;
    border-spacing: 10px 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

table thead td {
    font-weight: bold;
    color: var(--color-primary);
    text-align: center;
    padding-bottom: 5px;
    padding-top: 5px;
}

table thead tr{
    box-shadow: unset;
}

table td{
    text-align: center;
}

.ura {
    padding-left: 5px;
}

table td a{
    color: white;
    text-decoration: none;
    background-color: var(--color-third);
    border: 0.1rem solid var(--color-third);
    border-radius: 1rem;
    width: 60%;
    padding: 0.1rem 1rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-block-end: 10px;
    margin-block-start: 10px;
    display:inline-block;
    font-size: 0.6rem;

}

table td a:active{
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

table tr{
    box-shadow: 0 0 4px 0 var(--color-boxshadow);
    border-radius: 10px;
    border-color: white;

}

/*Missed bus styling*/
.missed {
    opacity: 0.5;
}

.on_route {
    opacity: 0.8;
    border: 2px solid var(--color-secondary) !important;
}


/*BEGIN Schedule information elements*/
.bubble{
    border: 2px solid black;
    font-size: 0.7rem;
    padding: 0.5rem 1rem;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-block-end: 5px;
    margin-block-start: 5px;
    display:inline-block;
    border-radius: 1rem;
    opacity: 0.5;
}

.warning{

    color:var(--color-warning);
    border-color: var(--color-warning);
}

.spinning {
    animation: sync_spin 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite !important;
}

@keyframes sync_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}

.info{
    border-color: var(--color-info);
    color:var(--color-info);

}

/*END Schedule information elements*/



.center{
    text-align: center;
    display:table;
    margin: 0 auto;

}

h2{
    font-family: "Open Sans", sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    color: var(--color-primary);
}

.rotated-marker{
    transform-origin: center;
}

input[type='text']{
    text-align: center;
    border:none;
    border-bottom: 2px solid var(--color-primary);
    width: 60%;
    padding: 0.5rem 1rem;
    margin-left: auto;
    margin-right: auto;
    margin-block-end: 10px;
    margin-block-start: 10px;
    display:inline-block;
    font-size: 0.8rem;
    color: var(--color-primary);
    outline:none;

}

#update-info {
    font-size: xx-small;
    color: gray;
    text-align: center;
}





